<!-- Bottom points-->
<div class="sidebar-footer">
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
    <!-- item-->
    <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
</div>
<!-- End Bottom points-->