<!-- User profile -->
<div class="user-profile position-relative" style="background: url(/src/assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="~/src/assets/images/users/profile.png" alt="user" class="w-100" /> </div>
    <!-- User profile text-->
    <div class="profile-text pt-1">
        <a href="#" class="dropdown-toggle u-dropdown w-100 text-white d-block position-relative" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe</a>
        <div class="dropdown-menu animated flipInY">
            <a href="#" class="dropdown-item">
                <i class="ti-user"></i>
                My Profile
            </a>
            <a href="#" class="dropdown-item">
                <i class="ti-wallet"></i> My
                Balance
            </a>
            <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
            <div class="dropdown-divider"></div>
            <a href="authentication-login1.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
        </div>
    </div>
</div>
<!-- End User profile text-->