@model Human_Resource_Management_Model.HRM.HR_AccountEditModel
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">                   
                    <form class="floating-labels mt-4" asp-action="Create" enctype="multipart/form-data">
                        <div class="form-group mb-5 focused col-md-6">
                            <label asp-for="FirstName" class="control-label">Tên</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span class="bar"></span>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5 focused col-md-6">
                            <label asp-for="LastName" class="control-label">Họ</label>
                            <input asp-for="LastName" class="form-control" />
                            <span class="bar"></span>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5 focused col-md-6">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span class="bar"></span>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>                      
                        <div class="form-group mb-5 col-md-6">
                            <label asp-for="Password" class="control-label">Mật khẩu</label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5 focused col-md-6">
                            <label asp-for="Mobile1" class="control-label">Số điện thoại di động 1</label>
                            <input asp-for="Mobile1" class="form-control" />
                            <span class="bar"></span>
                            <span asp-validation-for="Mobile1" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5 focused col-md-6">
                            <label asp-for="Mobile2" class="control-label">Số điện thoại di động 2</label>
                            <input asp-for="Mobile2" class="form-control" />
                            <span class="bar"></span>
                            <span asp-validation-for="Mobile2" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-5 focused col-md-6">
                            <p>Ngày sinh</p>
                            <input asp-for="BirthDay" class="form-control" />
                            <span asp-validation-for="BirthDay" class="text-danger"></span>
                        </div>                      
                        <div class="form-group col-md-6">
                            <p>Ảnh đại diện</p>
                            <input asp-for="AvatarImage" class="form-control" />
                            <span asp-validation-for="AvatarImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-info" />
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div><a asp-action="Index" class="btn waves-effect waves-light btn-outline-info">Back to List</a></div>

