@model IEnumerable<Human_Resource_Management_Model.HRM.HR_AccountViewModel>


<h1>Quản lý</h1>

<h1>Quản lý</h1>
<h1>Quản lý</h1>
<h1>Quản lý</h1>
<h1>Quản lý</h1><h1>Quản lý</h1><h1>Quản lý</h1><h1>Quản lý</h1>
                                                <h1>Quản lý</h1>
                                                <h1>Quản lý</h1>
                                                <h1>Quản lý</h1>
                                                <h1>Quản lý</h1>
                                                <h1>Quản lý</h1>
                                                <h1>Quản lý</h1>

